<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>chat-room</title>
</head>
<body>
    <div id="present-user" data-userId="<%= user.id %>">
        <section id="top-section">
            <h3 class="chat-room">chat room</h3>
            <input type="text" placeholder="search globally" class="search-global" >
            <div class="urls">
                <div class="burger">
                    <div class="bg1"></div>
                    <div class="bg2"></div>
                    <div class="bg3"></div>
                </div>
                <div class="url-content">
                    <div id="aboutMe" style="cursor: pointer;">Profile</div>
                    <div id="friendRequests" style="cursor: pointer;">requests
                        <% if(user.friendRequests.length){ %> 
                            <span class="noOfRequests"><%= user.friendRequests.length %></span>
                        <% } %> 
                    </div>
                    <div id="logOut" style="cursor: pointer;">log-out</div>
                </div>
            </div>
        </section>
        <div id="serach-friends">
            <!-- <p id=load-more-search-friends>load more</p> -->
        </div>
        <div class="row">
            <section id="friends-section" class="show-friends-area">
                <% 
                let friendsList = user.friends
                friendsList.sort(function(a,b){
                    if(a.unReadMessages>b.unReadMessages)
                        return -1
                    else
                        return 1
                })
                %> 
                <% for(let i=0;i<user.friends.length;i++){ const wid=user.friends[i].id.id;const name=user.friends[i].id.name%>
                <div class="row friend-chat" style="height: 40px; padding-top: 5px; cursor: pointer;" data-wid="<%= wid %>" data-wname="<%= name %>">
                    <img src="../imgs/<%= user.friends[i].id.photo %>" alt="<%= name %> " data-wid="<%= wid %>" data-wname="<%= name %>">
                    <div style="align-self: center; margin-left:auto;margin-right:auto;">
                        <span data-wid="<%= wid %>" data-wname="<%= name %>"><%= user.friends[i].id.name %><span id="unreadMsgs" class="noOfUnreadMessages<%= wid %>" data-wid="<%= wid %>" data-wname="<%= name %>">
                            <% const emptymsg = "";if(user.friends[i].unReadMessages) { %>
                                <%= user.friends[i].unReadMessages %>
                            <% }else{ %>
                                <%= emptymsg %>
                            <% } %>   
                        </span></span>
                    </div>
                </div>
                <% } %> 
            </section>
            <section id="message-section-hider">
                <div style="text-align: center; height: 40%;padding-top: 50%;">hello user<br><div>pls go and select your friend to start chat</div></div>
            </section>
            <section id="message-section" class="hide-conversation">
                <div class="loading-bar" >
                    <div class="loading" style="--width:10"></div>
                </div>
                <section id="friend-name-section">
                    <h4 class="back-pointer">&#8592</h4>
                    <h4 id="your-friend">your-friend</h4>
                   <span class="get-more-about-friend" style="cursor: pointer; padding-right: 5px;">more</span>
                </section>
                <a id="get-more" style="text-align: center; display: block; cursor: pointer;">load more</a>
                <section id="main-message-section">

                </section>
                <section id="message-section-footer">
                    <input type="text" id="input-message-placeholder">
                    <button id="send-input-message">send</button>
                </section>
                <div id="message-box" style="padding-bottom: 30px;" ></div>
            </section>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
<script src="../main.js"></script>

</html>